html {
    font-family: Avenir, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: calc(1ex/0.37); }
#TOC {text-align: left;}
html,body { margin: 0; padding: 0 0 3em 0; border: 0; }
.cb { min-height: calc(100vh - 1em); }
h1,h2,h3,h4,h5,h6 {
    line-height: calc(1ex/0.42);
    margin: calc(1ex/0.42) 0; }
#preamble h1 { margin: 0; }
p { text-align: justify; hyphens: auto; }
pre { overflow-x: scroll; border: solid 1px; padding: 1em; }
pre > code { background: none; font-size: 0.875em; }
code,pre { font-family: Menlo, Monaco, monospace; font-size: 1.85ex; }
figure { margin: 1rem 0; padding: 0; }
.bz { font-size: small;}
.ab { margin: 2rem 10%; font-size: 0.875em; font-style: italic; }
#logo { display: inline-block;
        vertical-align: middle;}
#logo svg { width: 3em; }
#preamble, #postamble { text-align: center; }
#content,.ak,#preamble,#postamble {
    padding: 0 1rem;
    max-width: 70ch;
    overflow: hidden;
    margin: 0 auto;
}
figure img { width: 100%; }
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { top: 0.4em; }
.footdef > sup { vertical-align: top; font-size: medium; }
.footdef > sup > a { padding: 0.5em; }
.footpara { display: inline; }
footer { margin: 3em 0;
         padding: 1em 0;
         border-top: solid 1px;
         border-bottom: solid 1px;
         line-height: 1em;
         font-size: 0.875em;
       }
table { margin: 1rem 0; line-height: 1em; max-width: 100%; overflow: scroll;
        display: block;
        border: solid;}
table th { padding: .1em 1em; }
table td { padding: .1em 1em; }
nav { text-align: center; padding: 1em 0;  }
pre { line-height: 1em; }

/* COLORS */

/* colortheme switch */
body>input { display: none; }
#labels > .ak { margin: 0 auto; text-align: center; }
label { font-weight: 700; }
label:hover { cursor: pointer; }
label ~ pre { margin-top: 0; }
figcaption { text-align: right; font-family: italic; }

:root {
    --b03:  #2E3440;
    --b02:  #3B4252;
    /* not used because light mode is has more contrast
    --b01:  #656b74;
   */
    --y: #c18600;
    --o: #d84100;
    --r: #e62729;
    --m: #ec0085;
    --v: #6c71c4;
    --b: #0095ff;
    --c: #00b0a3;
    --g: #879a00;
    --b00:  #727781;
    --b0:   #989ea8;
    --b1:   #b0bac7;
    --b2:   #ECEFF4;
    --b3:   rgb(248,249,251);

    /* default light */
    --bg: var(--b3);
    --rbg: var(--b2);
    --fg0: var(--b0);
    --fg: #4c566a; /* var(--b02); */
    --rfg: var(--b03);
    --hl: var(--rfg);
}

pre {
    border-color: var(--b1);
    background: var(--b2);
}
/* dark preferred */
/*
@media (prefers-color-scheme: dark)
{
    :root {
        --y: #ae8c51;
        --o: #a9654a;
        --r: #af6255;
        --m: #ae5e7d;
        --v: #6774b2;
        --b: #3f8cc3;
        --c: #15a198;
        --g: #939452;
        --bg: hsl(218,20%,16%);
        --rbg: var(--b03);
        --fg: var(--b0);
        --fg0: var(--b00);
        --rfg: var(--b1);
        --hl: var(--g);
    }
    img { filter: brightness(0.7) saturate(0.5); }
    pre {
        background: hsl(218,20%,18%);
        border-color: hsl(218,15%,23%);
    }
} */

em,strong,b,i,h1,h2,h3,h4,h5,h6 { color: var(--rfg); }

img {
    filter: brightness(0.8) sepia(100%) hue-rotate(185deg) saturate(0.5);
}
img:hover {
    filter: none;
}

em,strong,b,i,h1,h2,h3,h4,h5,h6 { color: var(--rfg); }

/* ---- */
::selection {
    background: var(--rbg);
    color: var(--fg);
    text-decoration: var(--fg);
}

body, body > div {
    background: var(--bg);
    color: var(--fg);
}
label:hover, a,a:visited { color: var(--hl); }
code { background: var(--rbg); }
table th { background: var(--rbg); }
blockquote { margin: 0 1em;
             padding-left: 1em;
             border-left: solid var(--rbg); }
/* ---- SYNTAX HIGHLIGHTING ---- */
#table-of-contents { text-align: left; }
.ex { color:var(--v); }
.op, .fu, .ot {color:var(--b);}
.bu { color:var(--m); }
.dt  { color:var(--o); }
.kw { color:var(--y); }
.st { color:var(--g); }
.co { color:var(--fg0); }

.ae { font-size: .7em; color: var(--b1); }
.co { font-size: .7em; background-color: var(--b2); }

.bu,.cg { background: var(--r); color: #FFF; font-weight: bold; font-size: .66em; padding: .2em;}
.cg { background: var(--g); }
