/* Fonts */
html,body {
    font-size: 13px;
    font-family: Menlo, monospace;
    line-height: 1.5em;
}
img { width: 100%; }
label:hover { cursor:pointer; }
#content,.content {
    max-width: 48em;
    padding: 0 1em;
    margin: 0 auto;
}
pre {
    border: dashed 1px;
    padding: 1ex;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
body > input {
    display:none;
}
.main {
    padding-top: 1em;
    min-height:calc(100vh - 2.5em);
}
:root {
    --b2: #fff;
    --b3: #fffa;
    --y:  #da2;
    --o:  #d72;
    --r:  #c33;}
/* --------------------------------------------------------------------------- */
/* Default color theme */
/* colors theme */
/* Dark themes soften and darken images */
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #ddd;
    }
    a { color: #38c }
    a:visited { color: #83c }
    img {
        filter: brightness(0.8);
    }
}

/* Manually checked colortheme */
#d:checked ~ * {
    background: #000;
    color: #ddd;
}
#d:checked ~ * a { color: #38c; }
#d:checked ~ * a:visited { color: #83c; }

/* --------------------------------------------------------------------------- */
/* Light theme selected */
#l:checked ~ * {
    background: #FFF;
    color: #333;
}

/* ---- SYNTAX HIGHLIGHTING ---- */
.org-rainbow-delimiters-depth-1, .org-rainbow-delimiters-depth-9,
.org-css-selector, .org-nix-attribute, .org-builtin,
.IN_REVIEW, a {
    color:var(--c);
}

.org-rainbow-delimiters-depth-2, .org-nix-builtin, .org-variable-name,
.org-haskell-definition, .org-haskell-operator, .org-function-name, .org-diff-changed {
    color:var(--b);
}

.org-rainbow-delimiters-depth-3, .HOLD, .WAITING {
    color:var(--v);
}

.org-rainbow-delimiters-depth-4, .org-diff-hunk-header, .org-sh-quoted-exec,
.CANCELED {
    color:var(--m);
}
.org-rainbow-delimiters-depth-5, .org-diff-removed, .TODO {
    color:var(--r);
}
.org-rainbow-delimiters-depth-6, .org-haskell-constructor  {
    color:var(--o);
}
.org-rainbow-delimiters-depth-7, .org-type, .org-constant, .org-diff-header,
.org-haskell-keyword, .org-haskell-type, .IN_PROGRESS {
    color:var(--y);
}
.org-rainbow-delimiters-depth-8, .org-sh-heredoc, .org-diff-added, .org-string,
.org-doc, .org-keyword, .DONE {
    color:var(--g);
}

.org-diff-none, .org-preprocessor, .org-comment-delimiter, .org-comment,
.org-outshine-level-1, .org-outshine-level-2, .org-outshine-level-3,
.org-outshine-level-4, .org-outshine-level-5, .org-outshine-level-6,
.org-outshine-level-7, .org-outshine-level-8, .org-outshine-level-9 {
    color:var(--fg2);
}

.org-highlight-numbers-number, .org-highlight-number-number
 {
    color:var(--rfg);
}
