/* CSS to be used for HTML Org-mode export
   Author: Yann Esposito
*/

/* Fonts */
body {
    font: 16px/1.4 sans-serif;
    line-height: 1.5em;
}
pre, pre code {
    line-height: 1em;
}
#content,.content {
    max-width: 48em;
    padding: 0 1em;
    margin: 0 auto;
}
pre {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
figure { margin: 0 1em; }
img {
    width: 100%;
    max-height: 100vh;
    margin: 1em auto;
}
p > img, li > img {
    max-height: 1em;
    width: auto;
    margin: 0;
    vertical-align: middle;
}
table {
    display: block; /* for overflow to work */
    max-width: 100%;
    border-collapse: collapse;
    border: solid 1px;
    overflow: scroll;
}
td, th {
    height: 1em;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    border-right: solid 1px;
    border-left: solid 1px;
}
#labels { margin: 0; }
.main {padding-top: 1em; }
/* colors theme */
:root {
    color-scheme: light dark; /* support color scheme */
    --b03:  #222;
    --b02:  #333;
    --b01:  #666;
    --b00:  #777;
    --b0:   #999;
    --b1:   #AAA;
    --b2:   #EEE;
    --b3:   #FFF;
    --y: #af8700;
    --o: #d75f00;
    --r: #d70000;
    --m: #af005f;
    --v: #5f5faf;
    --b: #0087ff;
    --c: #00afaf;
    --g: #5f8700;

    /* default dark */
    --bg: var(--b03);
    --fg: var(--b0);
    --bg2: var(--b02);
    --fg2: var(--b01);
    --rfg: var(--b1);
    --rbg: var(--b02);
    --bdr: var(--b02);
    --l-fg: var(--bg);
    --l-bg: var(--g);
}

/* Dark themes soften and darken images */
@media (prefers-color-scheme: dark) {
   :root {
       --bg: var(--b03);
       --fg: var(--b0);
       --bg2: var(--b02);
       --fg2: var(--b01);
       --rfg: var(--b1);
       --rbg: var(--b02);
       --bdr: var(--b02);
       --l-fg: var(--bg);
       --l-bg: var(--g);
   }
  img {
      filter: brightness(0.8) sepia(100%) hue-rotate(182deg) saturate(0.6);
  }
}
body > input {
    display:none;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg: var(--b3);
        --fg: var(--b00);
        --bg2: var(--b2);
        --fg2: var(--b1);
        --rfg: var(--b01);
        --rbg: var(--b2);
        --bdr: var(--b2);
        --l-fg: var(--bg);
        --l-bg: var(--o);
    }
    img {
        filter: sepia(100%) hue-rotate(182deg) saturate(0.6);
    }
}

#d:checked ~ .main, #d:checked ~ #labels {
    --bg: var(--b03);
    --fg: var(--b0);
    --bg2: var(--b02);
    --fg2: var(--b01);
    --rfg: var(--b1);
    --rbg: var(--b02);
    --bdr: var(--b02);
    --l-fg: var(--bg);
    --l-bg: var(--g);
}

/* --------------------------------------------------------------------------- */
/* Light theme selected */
#l:checked ~ .main, #l:checked ~ #labels {
    --bg: var(--b3);
    --fg: var(--b00);
    --bg2: var(--b2);
    --fg2: var(--b1);
    --rfg: var(--b01);
    --rbg: var(--b2);
    --bdr: var(--b2);
    --l-fg: var(--bg);
    --l-bg: var(--o);
}

#labels {
    background: var(--bg2);
    color: var(--fg2);
}
/* --------------------------------------------------------------------------- */
/* Default color theme */
body,.main {
    background: var(--bg);
    color: var(--fg);
    min-height: 100vh;
}
a { color: var(--l-bg); }

.org-rainbow-delimiters-depth-1, .org-rainbow-delimiters-depth-9,
.org-css-selector, .org-nix-attribute, .org-builtin {
    color:var(--c);
}

.org-rainbow-delimiters-depth-2, .org-nix-builtin, .org-variable-name,
.org-function-name, .org-diff-changed {
    color:var(--b);
}

.org-rainbow-delimiters-depth-3  {
    color:var(--v);
}

.org-rainbow-delimiters-depth-4, .org-diff-hunk-header, .org-sh-quoted-exec {
    color:var(--m);
}
.org-rainbow-delimiters-depth-5, .org-diff-removed {
    color:var(--r);
}
.org-rainbow-delimiters-depth-6  {
    color:var(--o);
}
.org-rainbow-delimiters-depth-7, .org-type, .org-constant, .org-diff-header {
    color:var(--y);
}
.org-rainbow-delimiters-depth-8, .org-sh-heredoc, .org-diff-added, .org-string,
.org-doc, .org-keyword {
    color:var(--g);
}

.org-diff-none, .org-preprocessor, .org-comment-delimiter, .org-comment,
.org-outshine-level-1, .org-outshine-level-2, .org-outshine-level-3,
.org-outshine-level-4, .org-outshine-level-5, .org-outshine-level-6,
.org-outshine-level-7, .org-outshine-level-8, .org-outshine-level-9 {
    color:var(--fg2);
}

.org-highlight-number-number     {
    color:var(--rfg);
}


