/* CSS to be used for HTML Org-mode export
   Author: Yann Esposito
*/

:root {
    --font-size: 13px;
}
/* Fonts */
body {
    font-family: Menlo, Monaco, monospace;
    font-size: var(--font-size);
    line-height: 1.5em;
}
code {
    font-family: Menlo, Monaco, monospace;
}
pre, pre code {
    font-family: Menlo, Monaco, monospace;
    line-height: 1em;
}
.todo, .done {
    font-family: Menlo, Monaco, monospace;
}
/* Layout */
body {
    margin: 0;
    padding: 0;
    border: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
}
h1, h2, h3, h4, h5, h6, pre, code, blockquote, ol, ul, ol ol, ul ul, ul ol, ol
ul, li, p, section, header, footer {
    float: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, pre, code, blockquote, p, ul, ol, section, header,
figure {
    margin-top: 1em;
    margin-bottom: 1em;
}
figure {
    margin: 1em 0px;
}
figure > img {
    margin: 0px;
}
li {
    position: relative;
    display: block;
    padding-left: 1.5em;
}
ul > li:before {
    content: "– ";
    opacity: 0.5;
    float: left;
    position: relative;
    left: -1.5em;
    text-align: right;
    width: 0;
}
ol {
    counter-reset: ol;
}
ol > li:before {
    content: counter(ol) ". ";
    counter-increment: ol;
    float: left;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: 0;
}
ol > li:nth-child(n+10) {
    padding-left:28px;
}
ol > li:nth-child(n+10):before {
    left: -28px;
}
img {
    max-width: 100%;
    max-height: 800px;
    margin: 1em auto;
}
p > img, li > img {
    max-height: 1em;
    margin: 0;
    vertical-align: middle;
}
table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    border: solid 1px;
    display: block;
    overflow: scroll;
}
td, th {
    height: 1em;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    border-right: solid 1px;
    border-left: solid 1px;
}

/* Markdown tricks */
h1 {
    font-size: 1em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}
h1::before {
    content: "# ";
}
h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}
h4::before {
    content: "#### ";
}
h5::before {
    content: "##### ";
}
h6::before {
    content: "###### ";
}
hr {
    position: relative;
    height: 1em;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border: 0;
}
hr:after {
    content: "----------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
}
pre { max-width: 100%; overflow: scroll; }
pre::after,pre::before {
    content: "~~~~~~~~~";
    display: block; }
pre::before {
    content: "~~~~~~~~~ " attr(class);
}
pre code {
    background: none;
}
blockquote {
    margin-left: 0;
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden;
}
.notes *:first-child,
blockquote *:first-child {
    margin-top: 0;
}
.notes *:last-child,
blockquote *:last-child {
    margin-bottom: 0;
}
blockquote:after {
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
}
navigation {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
navigation > a {
    margin-right: 10px;
}

/* org mode ids and classes */
.figure {
    margin-top: 1em;
    margin-bottom: 1em;
}
#content,.content {
    max-width: 43em;
    margin: 0 1em;
    padding: 1px;
}
#content *:first-child {
    margin-top: 0;
}
.timestamp-wrapper {
    font-size: 12px;
}
.todo, .done {
    font-size: 12px;
    font-weight: bold;
    padding: 1px 1ex;
}
.article-date {
    font-size: 0.8;
    font-style: italic;
    float: right;
}
.footpara {
    display: inline;
}
.footdef > sup {
    vertical-align: middle;
}
.footdef > sup::after {
    content: ": ";
}
.notes {
    padding: 5px 10px;
}
.notes::before {
    content: "☞";
    float: left;
    display: inline-block;
    width: 1.5em;
}
.underline {
    text-decoration: underline;
}

/* colors theme */
:root {
    color-scheme: light dark; /* support color scheme */
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;
    --transparent: rgba(255,255,255,0);

    /* --main-background: #00151b; /* 0.5 darker than #002b36; */
    --main-background: var(--base03); /* 0.5 darker than #002b36; */
    --main-foreground: var(--base1);
    --second-foreground: var(--base0);
    --reveal-background: var(--base02);
    --soft-foreground: var(--base01);
    --border-color: var(--base02);
    --todo-txt: #000;
    --color-h1: var(--magenta);
    --color-h2: var(--violet);
    --color-h3: var(--blue);
    --color-h4: var(--cyan);
    --color-h5: var(--green);
    --color-h6: var(--yellow);
    --color-link: var(--yellow);
}

/* org colors */
@media (prefers-color-scheme: light) {
    :root {
        --main-background: #fefaf0; /* 0.5 lighter than #fdf6e3 */
        --main-foreground: var(--base01);
        --second-foreground: var(--base00);
        --reveal-background: var(--base2);
        --soft-foreground: var(--base1);
        --border-color: var(--base2);
        --todo-txt: #FFF;
    }
}
#labels {
    width: 100%;
    text-align: right;
}
#labels label {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}

body > input { display:none; }

/* Light theme selected */
input#light:target ~ .main {
    --main-background: #fefaf0; /* 0.5 lighter than #fdf6e3 */
    --main-foreground: var(--base01);
    --second-foreground: var(--base00);
    --reveal-background: var(--base2);
    --soft-foreground: var(--base1);
    --border-color: var(--base2);
    --todo-txt: #FFF;
}
input#light:target ~ #labels {
    background: #fefaf0;
    color: var(--base00);
}

/* Dark theme selected */
input#dark:target ~ .main {
    --main-background: var(--base03); /* 0.5 darker than #002b36; */
    --main-foreground: var(--base1);
    --second-foreground: var(--base0);
    --reveal-background: var(--base02);
    --soft-foreground: var(--base01);
    --border-color: var(--base02);
    --todo-txt: #000;
}
input#dark:target ~ #labels {
    background: var(--base03);
    color: var(--base0);
}

/* Light raw theme selected */
input#raw:target ~ .main {
    --main-background: #fff;
    --main-foreground: #000;
    --second-foreground: #000;
    --reveal-background: #fff;
    --soft-foreground: #000;
    --border-color: #000;
    --todo-txt: #000;
    --color-h1: #000;
    --color-h2: #000;
    --color-h3: #000;
    --color-h4: #000;
    --color-h5: #000;
    --color-h6: #000;
    --color-link: var(--magenta);
    font-family: monospace;
}
input#raw:target ~ #labels {
    background: #fff;
    color: #000;
}
input#raw:target ~ .main code,
input#raw:target ~ .main pre
{
    font-family: monospace;
}
/* Light modern theme selected */
input#modern:target ~ .main {
    --main-background: #fff;
    --main-foreground: #444;
    --second-foreground: #666;
    --reveal-background: #eee;
    --soft-foreground: #888;
    --border-color: #ddd;
    --todo-txt: #000;
    --color-link: var(--magenta);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
}

input#modern:target ~ #labels a {
    color: #fff;
}
input#modern:target ~ .main .content,
input#modern:target ~ .main #content {
  margin: 0 auto;
}

input#modern:target ~ .main blockquote:after {
    display: none;
}
input#modern:target ~ .main blockquote {
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    border-left: solid 10px;
}
input#modern:target ~ .main h1,
input#modern:target ~ .main h2 {
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    font-size: 2em;
    line-height: 1.5em;
    margin: 1em 0;
}

input#modern:target ~ .main h3,
input#modern:target ~ .main h4,
input#modern:target ~ .main h5,
input#modern:target ~ .main h6 {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 1em 0;
}
input#modern:target ~ .main #preamble h1 {
    font-size: 4em;
    line-height: 1.5em;
}
input#modern:target ~ .main h1::before,
input#modern:target ~ .main h2::before,
input#modern:target ~ .main h3::before,
input#modern:target ~ .main h4::before,
input#modern:target ~ .main h5::before,
input#modern:target ~ .main h6::before {
    content: "";
}
input#modern:target ~ .main pre {
    font-size: 14px;
    line-height: 1em;
    border-left: solid 4px var(--soft-foreground);
    padding-left: 1em;
}
input#modern:target ~ .main pre::before,
input#modern:target ~ .main pre::after {
    content: "";
}
input#modern:target ~ .main #preamble,
input#modern:target ~ .main #postamble {
    background-color: var(--cyan);
    padding: 2em 0;
}
input#modern:target ~ .main #postamble code {
    background-color: transparent;
}
input#modern:target ~ .main #preamble *,
input#modern:target ~ .main #postamble * {
    color: #fff;
}
input#modern:target ~ #labels {
    background: var(--cyan);
    color: #fff;
}
input#modern:target ~ #labels .content {
    margin: 0 auto;
}

/* Dark raw theme selected */
input#darkraw:target ~ .main {
    --main-background: #000;
    --main-foreground: #ddd;
    --second-foreground: #ddd;
    --reveal-background: #000;
    --soft-foreground: #ddd;
    --border-color: #ddd;
    --todo-txt: #ddd;
    --color-h1: #ddd;
    --color-h2: #ddd;
    --color-h3: #ddd;
    --color-h4: #ddd;
    --color-h5: #ddd;
    --color-h6: #ddd;
    --color-link: var(--yellow);
    font-family: monospace;
}
input#darkraw:target ~ #labels {
    background: #000;
    color: #ddd;
}
input#darkraw:target ~ .main code,
input#darkraw:target ~ .main pre {
    font-family: monospace;
}
/* Default color theme */
body,.main {
    background: var(--main-background);
    color: var(--main-foreground);
    min-height: 100vh;
}
::selection, .main ::selection,
::-moz-selection, .main ::-moz-selection {
    color: var(--todo-txt);
    background-color: var(--yellow);
}
a, a:visited,
.main a, .main a:visited {
    color: var(--second-foreground);
}

.main ol > li:before, ol > li:before {
    color: var(--soft-foreground)
}

pre::after,pre::before,hr:after,
.main pre::after,.main pre::before,.main hr:after {
    color: var(--soft-foreground);
}
a:hover, a:active, a:focus,
.main a:hover,.main a:active,.main a:focus {
    color: var(--color-link);
}
navigation a, navigation a:visited,
.main navigation a,.main navigation a:visited {
    color: var(--soft-foreground);
}
navigation a:focus, navigation a:hover,
.main navigation a:focus,.main navigation a:hover {
    color: var(--color-link);
}
thead,
.main thead {
    background-color: var(--reveal-background);
    color: var(--second-fg);
}
tr:hover,
.main tr:hover {
    background-color: var(--reveal-background);
}
h1, .main h1 {
    color: var(--color-h1);
}
#preamble h2, .main #preamble h2 {
    color: var(--color-h4);
}
h2, .main h2 {
    color: var(--color-h2);
}
h3, .main h3 {
    color: var(--color-h3);
}
h4, .main h4 {
    color: var(--color-h4);
}
h5, .main h5 {
    color: var(--color-h5);
}
h6, .main h6 {
    color: var(--color-h6);
}
table, td, th,
.main table,.main td,.main th {
    border-color: var(--border-color);
}
code, .main code {
    background: var(--reveal-background);
}
blockquote:after, .main blockquote:after {
    color: var(--soft-foreground);
}
#preamble,#postamble,.main #preamble, .main #postamble {
    border-color: var(--transparent);
}
.article-date, .main .article-date {
    color: var(--soft-foreground);
}
/* -------- */
/* org colors */
.todo, .done, .main .todo, .main .done {
    background-color: var(--reveal-background);
    border: solid 1px;
    height: 10px;
    display: inline-block;
    line-height: 12px;
    font-weight: bold;
    font-size: 10px;
}
.TODO, .main .TODO {
    color: var(--red);
}
.IN_PROGRESS, .main .IN_PROGRESS {
    color: var(--yellow);
}
.IN_REVIEW, .main .IN_REVIEW {
    color: var(--cyan);
}
.HOLD, .main .HOLD {
    color: var(--violet);
}
.WAITING, .main .WAITING {
    color: var(--violet);
}
.DONE, .main .DONE {
    color: var(--green);
}
.CANCELED, .main .CANCELED {
    color: var(--magenta);
}
.notes, .main .notes {
    background-color: var(--reveal-background);
    color: var(--second-fg);
}
