/* CSS to be used for HTML Org-mode export
   Author: Yann Esposito
*/

:root {
    --font-size: 14px;
    --line-height: 16px;
}
/* Fonts */
body {
    font-family: Consolas, Anonymous Pro, Monaco, monospace;
    font-size: var(--font-size);
    line-height: var(--line-height);
}
code {
    font-family: Menlo, Monaco, monospace;
}
pre, pre code {
    font-family: Menlo, Monaco, monospace;
}
.todo, .done {
    font-family: Menlo, Monaco, monospace;
}
/* Layout */
body {
    margin: 0;
    padding: 0;
    border: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
}
h1, h2, h3, h4, h5, h6, pre, code, blockquote, ol, ul, ol ol, ul ul, ul ol, ol
ul, li, p, section, header, footer {
    float: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, pre, code, blockquote, p, ul, ol, section, header,
figure {
    margin-top: 1em;
    margin-bottom: 1em;
}
figure {
    margin: 1em 0px;
}
figure > img {
    margin: 0px;
}
li {
    position: relative;
    display: block;
    padding-left: 1.5em;
}
ul > li:before {
    content: "– ";
    opacity: 0.5;
    float: left;
    position: relative;
    left: -1.5em;
    text-align: right;
    width: 0;
}
ol {
    counter-reset: ol;
}
ol > li:before {
    content: counter(ol) ". ";
    counter-increment: ol;
    float: left;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: 0;
}
ol > li:nth-child(n+10) {
    padding-left:28px;
}
ol > li:nth-child(n+10):before {
    left: -28px;
}
img {
    max-width: 100%;
    max-height: 800px;
    margin: 1em auto;
}
p > img, li > img {
    max-height: 1em;
    margin: 0;
    vertical-align: middle;
}
table {
    max-width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    border: solid 1px;
    overflow: scroll;
}
td, th {
    height: 1em;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    border-right: solid 1px;
    border-left: solid 1px;
}
sup {
    vertical-align: top;
    position: relative;
    top: -.25em;
}
sup > a {
    text-decoration: none;
    padding: 1px 2px;
    font-weight: bold;
    background: var(--reveal-background);
}

/* Markdown tricks */
h1 {
    font-size: 1em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}
h1::before {
    content: "# ";
}
h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}
h4::before {
    content: "#### ";
}
h5::before {
    content: "##### ";
}
h6::before {
    content: "###### ";
}
hr {
    position: relative;
    height: 1px;
    line-height: 0;
    overflow: hidden;
    border: 0;
}
hr:after {
    content: "----------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    word-wrap: break-word;
}
pre { max-width: 100%; overflow: scroll; }
pre::after,pre::before {
    content: "~~~~~~~~~";
    display: block; }
pre::before {
    content: "~~~~~~~~~ " attr(class);
}
pre code {
    background: none;
}
blockquote {
    margin-left: 0;
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden;
}
.notes *:first-child,
blockquote *:first-child {
    margin-top: 0;
}
.notes *:last-child,
blockquote *:last-child {
    margin-bottom: 0;
}
blockquote:after {
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
}
navigation {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
navigation > a {
    margin-right: 10px;
}

/* org mode ids and classes */
.figure {
    margin-top: 1em;
    margin-bottom: 1em;
}
#content,.content {
    max-width: 46em;
    margin: 0 1em;
    padding: 1px;
    margin: 0 auto;
}
#content:first-child {
    margin-top: 0;
}
#postamble {
    margin-top: 1em;
}
.timestamp-wrapper {
    font-size: 12px;
}
.todo, .done {
    font-size: 12px;
    font-weight: bold;
    padding: 1px 1ex;
}
.article-date {
    font-size: 0.8em;
    font-style: italic;
    float: right;
}
.footpara {
    display: inline;
}
.footdef > sup {
    vertical-align: middle;
}
.footdef > sup::after {
    content: ": ";
}
.notes {
    padding: 5px 10px;
}
.notes::before {
    content: "☞";
    float: left;
    display: inline-block;
    width: 1.5em;
}
.underline {
    text-decoration: underline;
}

/* colors theme */
:root {
    color-scheme: light dark; /* support color scheme */

    --base03:    #242933;
    --base02:    #2D333F;
    --base01:    #6C727F;
    --base00:    #848A96;
    --base0:     #9CA1AC;
    --base1:     #B4B9C3;
    --base2:     #E5E9F0;
    --base3:     #F7F8F9;

    --yellow:   #b58900;
    --orange:   #cb4b16;
    --red:      #dc322f;
    --magenta:  #d33682;
    --violet:   #6c71c4;
    --blue:     #268bd2;
    --cyan:     #2aa198;
    --green:    #859900;
    --transparent: ; rgba(255,255,255,0);

    --main-background: var(--base03);
    --main-foreground: var(--base0);
    --second-foreground: var(--base01);
    --reveal-foreground: var(--base1);
    --reveal-background: var(--base02);
    --soft-foreground: var(--base01);
    --border-color: var(--base02);
    --todo-txt: #000;
    --color-h1: var(--reveal-foreground);
    --color-h2: var(--reveal-foreground);
    --color-h3: var(--reveal-foreground);
    --color-h4: var(--reveal-foreground);
    --color-h5: var(--reveal-foreground);
    --color-h6: var(--reveal-foreground);
    --color-link: var(--green);
}

/* org colors */
@media (prefers-color-scheme: light) {
    :root {
        --main-background: var(--base3);
        --main-foreground: var(--base01);
        --second-foreground: var(--base00);
        --reveal-foreground: var(--base01);
        --reveal-background: var(--base2);
        --soft-foreground: var(--base1);
        --border-color: var(--base2);
        --todo-txt: #FFF;
        --color-h1: var(--reveal-foreground);
        --color-h2: var(--reveal-foreground);
        --color-h3: var(--reveal-foreground);
        --color-h4: var(--reveal-foreground);
        --color-h5: var(--reveal-foreground);
        --color-h6: var(--reveal-foreground);
        --color-link: var(--orange);
    }
}
#labels {
    width: 100%;
    text-align: right;
}
#labels label {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}

/* Dark themes soften and darken images */
img {
    filter: saturate(0.8) brightness(0.8);
}
/* Light themes does not soften and darken images */
input#light:checked ~ .main img,
input#light:target ~ .main img,
input#simple:checked ~ .main img,
input#simple:target ~ .main img,
input#modern:checked ~ .main img,
input#modern:target ~ .main img {
    filter: none;
}

/* --------------------------------------------------------------------------- */
/* Dark theme selected */
input#dark:checked ~ .main ,
input#dark:target ~ .main {
    --main-background: var(--base03);
    --main-foreground: var(--base0);
    --second-foreground: var(--base01);
    --reveal-foreground: var(--base1);
    --reveal-background: var(--base02);
    --soft-foreground: var(--base01);
    --border-color: var(--base02);
    --todo-txt: #000;
    --color-h1: var(--reveal-foreground);
    --color-h2: var(--reveal-foreground);
    --color-h3: var(--reveal-foreground);
    --color-h4: var(--reveal-foreground);
    --color-h5: var(--reveal-foreground);
    --color-h6: var(--reveal-foreground);
    --color-link: var(--green);
}
input#dark:checked ~ #labels ,
input#dark:target ~ #labels {
    background: var(--base03);
    color: var(--base0);
}

/* --------------------------------------------------------------------------- */
/* Light theme selected */
input#light:checked ~ .main ,
input#light:target ~ .main {
    --main-background: var(--base3);
    --main-foreground: var(--base01);
    --second-foreground: var(--base00);
    --reveal-foreground: var(--base01);
    --reveal-background: var(--base2);
    --soft-foreground: var(--base1);
    --border-color: var(--base2);
    --todo-txt: #FFF;
    --color-h1: var(--reveal-foreground);
    --color-h2: var(--reveal-foreground);
    --color-h3: var(--reveal-foreground);
    --color-h4: var(--reveal-foreground);
    --color-h5: var(--reveal-foreground);
    --color-h6: var(--reveal-foreground);
    --color-link: var(--orange);
}
input#light:checked ~ #labels ,
input#light:target ~ #labels {
    background: var(--base3);
    color: var(--base00);
}

/* --------------------------------------------------------------------------- */
/* Light simple theme selected */
input#simple:checked ~ .main ,
input#simple:target ~ .main {
    --main-background: #fff;
    --main-foreground: #333;
    --second-foreground: #333;
    --reveal-foreground: #000;
    --reveal-background: #fff;
    --soft-foreground: #555;
    --border-color: #333;
    --todo-txt: #333;
    --color-h1: #333;
    --color-h2: #333;
    --color-h3: #333;
    --color-h4: #333;
    --color-h5: #333;
    --color-h6: #333;
    --color-link: var(--orange);
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 1.5em;
}
input#simple:checked ~ #labels ,
input#simple:target ~ #labels {
    background: #fff;
    color: #333;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 1.5em;
}
input#simple:checked ~ #labels .content,
input#simple:target ~ #labels .content {
    margin: 0 auto;
}
input#simple:checked ~ .main .content,
input#simple:target ~ .main .content,
input#simple:checked ~ .main #content ,
input#simple:target ~ .main #content {
    margin: 0 auto;
}
input#simple:checked ~ .main code,
input#simple:target ~ .main code,
input#simple:checked ~ .main pre,
input#simple:target ~ .main pre
{
    font-family: monospace;
}

/* --------------------------------------------------------------------------- */
/* Dark matrix theme selected */
input#matrix:checked ~ .main ,
input#matrix:target ~ .main {
    --main-background: #000;
    --main-foreground: #0b0;
    --second-foreground: #080;
    --reveal-foreground: #0f0;
    --reveal-background: #000;
    --soft-foreground: #080;
    --border-color: #080;
    --todo-txt: #0b0;
    --color-h1: #0b0;
    --color-h2: #0b0;
    --color-h3: #0b0;
    --color-h4: #0b0;
    --color-h5: #0b0;
    --color-h6: #0b0;
    --color-link: #080;
    font-family: monospace;
}
input#matrix:checked ~ #labels ,
input#matrix:target ~ #labels {
    background: #000;
    color: #0b0;
}
input#matrix:checked ~ .main code,
input#matrix:target ~ .main code,
input#matrix:checked ~ .main pre ,
input#matrix:target ~ .main pre {
    font-family: monospace;
}

/* --------------------------------------------------------------------------- */
/* Light modern theme selected */
input#modern:checked ~ .main ,
input#modern:target ~ .main {
    --main-background: #fff;
    --main-foreground: #444;
    --second-foreground: #aaa;
    --reveal-foreground: #000;
    --reveal-background: #eee;
    --soft-foreground: #888;
    --border-color: #ddd;
    --todo-txt: #000;
    --color-link: var(--magenta);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
}

input#modern:checked ~ #labels a ,
input#modern:target ~ #labels a {
    color: #fff;
}
input#modern:checked ~ .main .content,
input#modern:target ~ .main .content,
input#modern:checked ~ .main #content ,
input#modern:target ~ .main #content {
  margin: 0 auto;
}
input#modern:checked ~ .main blockquote:after ,
input#modern:target ~ .main blockquote:after {
    display: none;
}
input#modern:checked ~ .main blockquote ,
input#modern:target ~ .main blockquote {
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    border-left: solid 10px;
}
input#modern:checked ~ .main h1,
input#modern:target ~ .main h1,
input#modern:checked ~ .main h2 ,
input#modern:target ~ .main h2 {
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    font-size: 2em;
    line-height: 1.5em;
    margin: 1em 0;
    color: var(--reveal-foreground);
}

input#modern:checked ~ .main h3,
input#modern:target ~ .main h3,
input#modern:checked ~ .main h4,
input#modern:target ~ .main h4,
input#modern:checked ~ .main h5,
input#modern:target ~ .main h5,
input#modern:checked ~ .main h6 ,
input#modern:target ~ .main h6 {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 1em 0;
    color: var(--reveal-foreground);
}
input#modern:checked ~ .main h4,
input#modern:target ~ .main h4 {
    font-size: 1.25em;
    line-height: 1.25em;
}
input#modern:checked ~ .main h5,
input#modern:target ~ .main h5,
input#modern:checked ~ .main h6 ,
input#modern:target ~ .main h6 {
    font-size: 1em;
    line-height: 1em;
}
input#modern:checked ~ .main #preamble ,
input#modern:target ~ .main #preamble {
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
input#modern:checked ~ .main #postamble ,
input#modern:target ~ .main #postamble {
    border-top: solid 1px rgba(0,0,0,0.2);
}
input#modern:checked ~ .main #preamble h1 ,
input#modern:target ~ .main #preamble h1 {
    font-size: 4em;
    line-height: 1.5em;
    margin: .5em 0;
}
input#modern:checked ~ .main h1::before,
input#modern:target ~ .main h1::before,
input#modern:checked ~ .main h2::before,
input#modern:target ~ .main h2::before,
input#modern:checked ~ .main h3::before,
input#modern:target ~ .main h3::before,
input#modern:checked ~ .main h4::before,
input#modern:target ~ .main h4::before,
input#modern:checked ~ .main h5::before,
input#modern:target ~ .main h5::before,
input#modern:checked ~ .main h6::before ,
input#modern:target ~ .main h6::before {
    content: "";
}
input#modern:checked ~ .main pre ,
input#modern:target ~ .main pre {
    font-size: 14px;
    line-height: 1em;
    border-left: solid 4px var(--soft-foreground);
    padding-left: 1em;
}
input#modern:checked ~ .main pre::before,
input#modern:target ~ .main pre::before,
input#modern:checked ~ .main pre::after ,
input#modern:target ~ .main pre::after {
    content: "";
}
input#modern:checked ~ .main #preamble,
input#modern:target ~ .main #preamble,
input#modern:checked ~ .main #postamble ,
input#modern:target ~ .main #postamble {
    background-color: var(--cyan);
    padding: 1em 0;
}
input#modern:checked ~ .main #preamble ,
input#modern:target ~ .main #preamble {
  margin-bottom: 2em;
}
input#modern:checked ~ .main #postamble ,
input#modern:target ~ .main #postamble {
    margin-top: 2em;
}
input#modern:checked ~ .main #postamble code ,
input#modern:target ~ .main #postamble code {
    background-color: transparent;
}
input#modern:checked ~ .main #preamble *,
input#modern:target ~ .main #preamble *,
input#modern:checked ~ .main #postamble * ,
input#modern:target ~ .main #postamble * {
    color: #fff;
}
input#modern:checked ~ #labels ,
input#modern:target ~ #labels {
    background: var(--cyan);
    color: #fff;
}
input#modern:checked ~ #labels .content ,
input#modern:target ~ #labels .content {
    margin: 0 auto;
}

/* --------------------------------------------------------------------------- */
/* Dark simple theme selected */
input#darksimple:checked ~ .main ,
input#darksimple:target ~ .main {
    --main-background: #000;
    --main-foreground: #ccc;
    --second-foreground: #ccc;
    --reveal-foreground: #fff;
    --reveal-background: #000;
    --soft-foreground: #ccc;
    --border-color: #ccc;
    --todo-txt: #ccc;
    --color-h1: #ccc;
    --color-h2: #ccc;
    --color-h3: #ccc;
    --color-h4: #ccc;
    --color-h5: #ccc;
    --color-h6: #ccc;
    --color-link: var(--green);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
}
input#darksimple:checked ~ #labels .content,
input#darksimple:target ~ #labels .content {
    margin: 0 auto;
}
input#darksimple:checked ~ #labels ,
input#darksimple:target ~ #labels {
    background: #000;
    color: #ccc;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
}
input#darksimple:checked ~ .main code,
input#darksimple:target ~ .main code,
input#darksimple:checked ~ .main pre ,
input#darksimple:target ~ .main pre {
    font-family: monospace;
}
input#darksimple:checked ~ .main .content,
input#darksimple:target ~ .main .content,
input#darksimple:checked ~ .main #content ,
input#darksimple:target ~ .main #content {
    margin: 0 auto;
}

/* --------------------------------------------------------------------------- */
/* Default color theme */
body,.main {
    background: var(--main-background);
    color: var(--main-foreground);
    min-height: 100vh;
}
::selection, .main ::selection,
::-moz-selection, .main ::-moz-selection {
    color: white;
    background-color: var(--blue);
}
a, a:visited,
.main a, .main a:visited {
    color: var(--reveal-foreground);
}

b, strong, i, em {
    color: var(--reveal-foreground);
}

body > input { display:none; }

.keywords {
    color: var(--second-foreground);
}
li .keywords {
    float: right;
}

.main ol > li:before, ol > li:before {
    color: var(--soft-foreground)
}

pre::after,pre::before,hr:after,
.main pre::after,.main pre::before,.main hr:after {
    color: var(--soft-foreground);
}
#labels label:hover,
a:hover, a:active, a:focus,
.main a:hover,.main a:active,.main a:focus {
    color: white;
    background: var(--color-link);
}
navigation a, navigation a:visited,
.main navigation a,.main navigation a:visited {
    color: var(--soft-foreground);
}
navigation a:focus, navigation a:hover,
.main navigation a:focus,.main navigation a:hover {
    color: white;
    background: var(--color-link);
}
thead,
.main thead {
    background-color: var(--reveal-background);
    color: var(--second-fg);
}
tr:hover,
.main tr:hover {
    background-color: var(--reveal-background);
}

.description {
    color: var(--second-foreground);
}
h1, .main h1 {
    color: var(--color-h1);
}
h2, .main h2 {
    color: var(--color-h2);
}
h3, .main h3 {
    color: var(--color-h3);
}
h4, .main h4 {
    color: var(--color-h4);
}
h5, .main h5 {
    color: var(--color-h5);
}
h6, .main h6 {
    color: var(--color-h6);
}
table, td, th,
.main table,.main td,.main th {
    border-color: var(--border-color);
}
code, .main code {
    background: var(--reveal-background);
}
blockquote:after, .main blockquote:after {
    color: var(--soft-foreground);
}
#preamble,#postamble,.main #preamble, .main #postamble {
    border-color: var(--transparent);
}
.article-date, .main .article-date {
    color: var(--soft-foreground);
}
/* -------- */
/* org colors */
.todo, .done, .main .todo, .main .done {
    background-color: var(--reveal-background);
    border: solid 1px;
    height: 10px;
    display: inline-block;
    line-height: 12px;
    font-weight: bold;
    font-size: 10px;
}
.TODO, .main .TODO {
    color: var(--red);
}
.IN_PROGRESS, .main .IN_PROGRESS {
    color: var(--yellow);
}
.IN_REVIEW, .main .IN_REVIEW {
    color: var(--cyan);
}
.HOLD, .main .HOLD {
    color: var(--violet);
}
.WAITING, .main .WAITING {
    color: var(--violet);
}
.DONE, .main .DONE {
    color: var(--green);
}
.CANCELED, .main .CANCELED {
    color: var(--magenta);
}
.notes, .main .notes {
    background-color: var(--reveal-background);
    color: var(--second-fg);
}
