/* Fonts */
html,body {
    font: 18px/1.8 "Helvetica Neue", sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    margin:0;
    padding:0;
    text-rendering: optimizeLegibility;
}
h1,h2 { font-family: "Hoefler Text";
        font-style: italic;
        text-rendering: optimizeLegibility;
      }
pre, pre code {
    line-height: 1em;
    font-size: .8em;
}
img { width: 100%; }
label:hover { cursor:pointer; }
#content,.content {
    max-width: 48em;
    padding: 0 1em;
    margin: 0 auto;
}
pre {
    border: dashed 1px;
    padding: 1ex;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
body > input {
    display:none;
}
.main {
    min-height:calc(100vh - 2.5em);
}
#content { margin-top: 2em; }
#table-of-contents {
    border-bottom: dashed;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
:root {
    --b03:  #202631;
    --b02:  #2B313C;
    --b01:  #656B74;
    --b00:  #727781;
    --b0:   #8B919B;
    --b1:   #989EA8;
    --b2:   #E5E8ED;
    --b3:   #F4F7FC;
    --y:  #A98D50;
    --o:  #aa6550;
    --r:     #b85a64;
    --m: #af53b0;
    --v:  #846f93;
    --b:    #5679a4;
    --c:    #4c8493;
    --g:   #728b5c;

    --fg: var(--b00);
    --bg: var(--b3);
    --fg2: var(--b1);
    --bg2: var(--b2);
    --rfg: var(--b01);
    --rbg: var(--b2);
    --bdr: var(--b2);
    --l-fg: var(--bg);
    --l-bg: var(--g);
}
/* --------------------------------------------------------------------------- */
/* Default color theme */
/* colors theme */
/* Dark themes soften and darken images */
@media (prefers-color-scheme: dark) {
    :root {
        --fg: var(--b0);
        --bg: var(--b03);
        --fg2: var(--b01);
        --bg2: var(--b02);
        --rfg: var(--b1);
        --rbg: var(--b02);
        --bdr: var(--b02);
        --l-fg: var(--bg);
        --l-bg: var(--g);
    }
}

/* Manually checked colortheme */
#d:checked ~ * {
    --fg: var(--b0);
    --bg: var(--b03);
    --fg2: var(--b01);
    --bg2: var(--b02);
    --rfg: var(--b1);
    --rbg: var(--b02);
    --bdr: var(--b02);
    --l-fg: var(--bg);
    --l-bg: var(--g);
}

/* --------------------------------------------------------------------------- */
/* Light theme selected */
#l:checked ~ * {
    --fg: var(--b00);
    --bg: var(--b3);
    --fg2: var(--b1);
    --bg2: var(--b2);
    --rfg: var(--b01);
    --rbg: var(--b2);
    --bdr: var(--b2);
    --l-fg: var(--bg);
    --l-bg: var(--g);
}

/* ----------------- */
#labels,#preamble,#postamble {
    padding: 2em 0;
    background: var(--y);
    color: var(--bg);
}
#postamble { margin-top: 2em; }
#labels a,#preamble a,#postamble a {
    color: var(--bg2);
}
.main { background: var(--bg);
        color: var(--fg);}
/* -------- */
/* org colors */
.todo, .done, .main .todo, .main .done {
    background: var(--rbg);
    border: solid 1px;
    height: 10px;
    display: inline-block;
    line-height: 12px;
    font-weight: bold;
    font-size: 10px;
}
b,i,strong,em {
    color: var(--rfg);
}

table {
    display: block; /* for overflow to work */
    max-width: 100%;
    border-collapse: collapse;
    border: solid 1px;
    overflow: scroll;
}
td, th {
    height: 1em;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    border-right: solid 1px;
    border-left: solid 1px;
}
sup {
    vertical-align: top;
    position: relative;
    top: -.25em;
}
sup > a {
    text-decoration: none;
    padding: 1px 2px;
    font-weight: bold;
}
table, td, th {
    border-color: var(--bdr);
}
.notes {
    background: var(--rbg);
    color: var(--rfg);
    padding: 1em;
}
/* ---- SYNTAX HIGHLIGHTING ---- */
.org-rainbow-delimiters-depth-1, .org-rainbow-delimiters-depth-9,
.org-css-selector, .org-nix-attribute, .org-builtin,
.IN_REVIEW, a {
    color:var(--c);
}

.org-rainbow-delimiters-depth-2, .org-nix-builtin, .org-variable-name,
.org-function-name, .org-diff-changed {
    color:var(--b);
}

.org-rainbow-delimiters-depth-3, .HOLD, .WAITING {
    color:var(--v);
}

.org-rainbow-delimiters-depth-4, .org-diff-hunk-header, .org-sh-quoted-exec,
.CANCELED {
    color:var(--m);
}
.org-rainbow-delimiters-depth-5, .org-diff-removed, .TODO {
    color:var(--r);
}
.org-rainbow-delimiters-depth-6  {
    color:var(--o);
}
.org-rainbow-delimiters-depth-7, .org-type, .org-constant, .org-diff-header,
.IN_PROGRESS {
    color:var(--y);
}
.org-rainbow-delimiters-depth-8, .org-sh-heredoc, .org-diff-added, .org-string,
.org-doc, .org-keyword, .DONE {
    color:var(--g);
}

.org-diff-none, .org-preprocessor, .org-comment-delimiter, .org-comment,
.org-outshine-level-1, .org-outshine-level-2, .org-outshine-level-3,
.org-outshine-level-4, .org-outshine-level-5, .org-outshine-level-6,
.org-outshine-level-7, .org-outshine-level-8, .org-outshine-level-9 {
    color:var(--fg2);
}

.org-highlight-number-number {
    color:var(--rfg);
}
