.outline-4 {
    margin: 1em 0;
    padding: 1em;
    border: solid;
    min-height: 21em;
    display: block;
}
.outline-3 > h3,
.outline-2 > h2 {
    border: solid;
    padding: 10em 1em;
    margin: 1em 0;
    text-align: center;
}
