<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<meta name="generator" content="Org mode">
<meta name="author" content="Yann Esposito">
<meta name="description" content="{{description}}"
>
<meta name="keywords" content="emacs, softwares">
<link rel="stylesheet" href="/css/y.css"/><link rel="alternate" type="application/rss+xml" href="/rss.xml" /><link rel="icon" href="/favicon.ico">
</head>
<body><input name="t" type="radio" id="l">
<input name="t" type="radio" id="d">
<div id="labels">
<div class="content">
<label for="l">light</label> | <label for="d">dark</label>
</div>
</div>
<div class="main">
<div id="preamble" class="status">
<div id="logo">
    <a href="/">
        <svg width="5em" viewBox="0 0 64 64">
            <circle cx="32" cy="32" r="30" stroke="var(--b2)" stroke-width="2" fill="var(--b03)"/>
            <circle cx="32" cy="32" r="12" stroke="var(--r)" stroke-width="2" fill="var(--o)"/>
            <circle cx="32" cy="32" r="6" stroke-width="0" fill="var(--y)"/>
            <ellipse cx="32" cy="14" rx="14" ry="8" stroke-width="0" fill="var(--b3)"/>
        </svg>
    </a>
</div>
<div class="content">
    <h1>{{title}}</h1>
    <div class="author">{{authors}}<br/>
        <span class="article-date">{{date}}</span><br/>on
        <a href="https://her.esy.fun">Yann Esposito's blog</a> -
        <a href="{{orgsource}}">source</a> -
        <a class="permalink" href="{{permalink}}">§permalink</a></div>
    <div class="abstract">{{description}}</div></div>
</div>
<div id="content">
    {{{body}}}
</div>
</div></div>
<div id="old2_postamble" class="status">
<div class="content">
    <footer>
        <i>Any comment? Click on my email below and I'll add it.</i>
        <table>
            <tr><td>author</td><td><span class="author"><a href="&#109;&#x61;&#105;&#x6C;&#116;&#x6F;&#58;&#x59;&#x61;&#110;&#x6E;&#32;&#69;&#x73;&#112;&#111;&#x73;&#x69;&#x74;&#x6F; &lt;&#x79;&#x61;&#110;&#x6E;&#64;&#101;&#x73;&#112;&#111;&#115;&#105;&#x74;&#x6F;&#x2E;&#x68;&#x6F;&#x73;&#x74;&gt;&#x3F;&#x73;&#117;&#x62;&#x6A;&#x65;&#x63;&#x74;&#x3D;&#x79;&#x62;&#108;&#x6F;&#x67;&#58;&#x20;&#72;&#x6F;&#x77;&#32;&#116;&#x6F;&#32;&#99;&#x68;&#x6F;&#x6F;&#x73;&#x65;&#x20;&#121;&#x6F;&#117;&#x72;&#32;&#116;&#x6F;&#x6F;&#x6C;&#x73;">&#x59;&#x61;&#110;&#x6E;&#32;&#69;&#x73;&#112;&#111;&#x73;&#x69;&#x74;&#x6F; &lt;&#x79;&#x61;&#110;&#x6E;&#64;&#101;&#x73;&#112;&#111;&#115;&#105;&#x74;&#x6F;&#x2E;&#x68;&#x6F;&#x73;&#x74;&gt;</a></span></td></tr>
            <tr><td>tags</td><td> <span class="keywords"><code>#emacs</code> <code>#softwares</code></span></td></tr>
            <tr><td>rss</td><td><div class="rss"><a rel="alternate" type="application/rss+xml" href="/rss.xml">RSS</a> (<a href="https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fher.esy.fun%2Frss.xml">validate</a>)</div></td></tr>
            <tr><td>size</td><td><div class="web-file-size">XXK (html XXK, css XXK, img XXK)</div></td></tr>
            <tr><td>gz</td><td><div class="gzweb-file-size">XXK (html XXK, css XXK, img XXK)</div></td></tr>
            <tr><td>generated</td><td><div class="date">2020-06-23 00:04:37</div></td></tr>
            <tr><td>gen-with</td><td><div class="creator"><a href="https://www.gnu.org/software/emacs/" target="_blank" rel="noopener noreferrer">Emacs 26.3</a>, <a href="http://spacemacs.org" target="_blank" rel="noopener noreferrer">Spacemacs 0.300.0</a>, <a href="http://orgmode.org" target="_blank" rel="noopener noreferrer">Org Mode 9.3.6</a></div></td></tr>
            <tr><td>src</td><td><a href="https://gitea.esy.fun/yogsototh/her.esy.fun" target="_blank" rel="noopener noreferrer">Website source code</a></td></tr>
            <tr><td>org-file</td><td><a href="/posts/0013-how-to-choose-your-tools/index.org">/posts/0013-how-to-choose-your-tools/index.org</a></td></tr>
        </table>
    </footer>
    <nav>
        <a href="/index.html">Home</a> | <a href="/archive.html">Posts</a> | <a href="/slides.html">Slides</a> | <a href="/about-me.html">About</a>
        <span class="details">
                  (<a href="https://gitea.esy.fun/yogsototh">code</a>
                   <a href="https://espial.esy.fun/u:yogsototh">bookmarks</a>
                   <a href="https://espial.esy.fun/u:yogsototh/notes">notes</a>)</span> | <a href="#preamble">↑ Top ↑</a></nav></div>
</div>

</div>
</body>
</html>
