<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <meta name="author" content="{{author}}">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{#tags}}{{.}}{{^last}} {{/last}}{{/tags}}">
        <link rel="stylesheet" href="/css/y.css"/>
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        {{>header}}
        <div class="main">
            <div id="preamble" class="status">
                <div class="content">
                    <h1>{{title}}</h1>
                    <div class="meta">
                        <span class="article-date">{{date}}</span> on
                        <a href="https://her.esy.fun">
                            <span class="author">{{author}}</span>'s blog</a> -
                        <a href="{{orgsource}}">source</a> -
                        <a href="{{txtsource}}">txt</a> -
                        <a href="{{pdf}}">pdf</a> -
                        <a class="permalink" href="{{permalink}}">§permalink</a>
                    </div>
                    <div class="abstract">
                        {{description}}
                    </div>
                </div>
            </div>
            <div id="content">
                {{{body}}}
            </div>
            <div id="postamble" class="status">
                <div class="content">
                    {{>menu}}
                </div>
            </div>
        </div>
    </body>
</html>
