<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <meta name="author" content="$author$">
    <meta name="description" content="$description$">
    <meta name="keywords" content="$keywords$">
    <link rel="stylesheet" href="/css/y.css"/>
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" media="(prefers-color-scheme: light)"
          content=$if(lightbk)$"$lightbk$"$else$"#d84100"$endif$>
    <meta name="theme-color" media="(prefers-color-scheme: dark)"
          content=$if(darkbk)$"$darkbk$"$else$"#2E3440"$endif$>
    $header-includes$
  </head>
  <body>
      <header>
        <nav aria-label="Main">
          <a href="/" id="logo"><img src="/Scratch/img/yogsototh-eye-cosmic-128.png" alt="Home" /></a> |
          <a href="/slides.html">Slides</a> |
          <a href="/about-me.html">About</a>
        </nav>
        <div class="content">
          <h1>$title$</h1>
          <div class="meta">
            <span class="yyydate">$date$</span> on
            <a href="https://her.esy.fun">
              <span class="author">$author$</span>'s blog</a>
          </div>
          <div class="abstract">
$description$
          </div>
        </div>
      </header>
      <main id="content">
$if(toc)$<nav id="toc" role="doc-toc">$table-of-contents$</nav>$endif$
<article>
$body$
</article>
      </main>
      <footer id="postamble" class="status">
        <div class="content">
          <nav role="navigation">
            <a href="/index.html">Home</a> |
            <a href="/slides.html">Slides</a> |
            <a href="/about-me.html">About</a> |
            <a href="#logo">↑↑↑</a>
          </nav>
        </div>
      </footer>
  </body>
</html>
